<p>
  <%=@customer.first_name%>, <%=@restaurant.name%> has confirmed that they received your order: <%=@meal.name %>
</p>
<p>
  Your meal will be ready for pickup by: <%=(Time.now + 25.minutes).strftime("%I:%M%p")%>
</p>
<p>
  Enjoy your meal and have a great day!
</p>
<p>
  The Elevate Team :)
</p>
