/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require font-awesome
*/

@import "font-awesome";
$navbar-default-bg: #1e55b0;
$navbar-default-link-color: white;
$navbar-height: 75px;

$border-radius-base: 0;

body {
  background-color: #f4f8fb !important;
}

.container {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

$btn-font-weight: bold;

#newmeal {
  margin-bottom: 5px;
}

// alert
.notice {
  color: #3C763D;
  background: #DFF0D8;
  border-color: #D6E9C6;
  border-radius: 4px;
  padding: 15px;
}

// menus
.menu-header {
  text-align: center;
}

.menu-titles {
  padding: 5px;

  a {
    margin-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.1em;
  }
}

.restaurant_menu {
  color: #11516f;
}

// RESTAURANT SHOW
.restaurant-helper-text {
  border-radius: 3px;
  padding: 5px;
}

// GLOBAL
.main-container {
  background: white;
  margin: auto;
  margin-bottom: 10px;
  padding: 15px 5px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow:0px 0px 27px 0px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.25);
  text-align: center;

  ul {
    list-style-type: none;
  }
}

.divider {
  border-bottom: solid 1px #D3D3D3;
  padding: 7px;
  margin: 0 10%;
}

.spacer {
  margin: 13px 3px;
  display:block;
}

.admin {
  text-align: center;
}

.nav-logo {
  width: 240px;
  margin-left: 5%;
  padding: 5px;
}

@import "bootstrap";
