/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-default-bg: #18519A;
$navbar-default-link-color: white;
$navbar-height: 75px;

$border-radius-base: 0;

body {
  background-color: black;
  background: black;
}

$jumbotron-bg: white;

.jumbotron {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  border-radius: 6px;
}

.jumbotron li {
  list-style-type: none;
  text-align: center;
  color: black;
}

.jumbotron ul {
  padding-left: 0;
}

.jumbotron a:link {
  color: black;
}

.jumbotron a:visited {
  color: black;
}

.jumbotron a:active {
  color: white;
}

// customer show page

.mealPlan {
  background: white;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  padding: 1%;
  font-weight: bold;
}

.restaurant {
  background: #eeeeee;
  margin: auto;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
}

.restaurant h3 {
  color: black;
}

.restaurant select {
-webkit-appearance: menulist-button;
  height: 30px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 16px;
}

#hours p {
  margin: 0 0 3px 0;
}

#submit_btn .btn {
  border-radius: 4px;
}

$btn-font-weight: bold;

#newmeal {
  margin-bottom: 5px;
}

// meals
tbody tr th {
  text-align: center;
}

// alert
.notice {
  color: #31708f;
  background: #d9edf7;
  border-color: #bce8f1;
  border-radius: 4px;
  padding: 15px;
}

.restaurant_menu {
  display: none;
  background: #eeeeee;
  padding: 5px;
  border-radius: 3px;
}

.restaurant_menu li {
  text-align: left;
  margin-left: 15px;
}

.scroll_to_menu {
  background: #f8f8f8;
  border-radius: 4px;
  width: 50%;
  padding: 2px;
  margin: auto;
  color: #333333;
  border: solid #333333 1px;
  margin-bottom: 2px;
}

.phone {
  background: #f8f8f8;
  border-radius: 4px;
  width: 70%;
  padding: 2px;
  margin: auto;
  margin-bottom: 2px;
  border: solid #333333 1px;
}

#hours p{
  font-size: 1.2em;
}

@import "bootstrap";
