<div class="jumbotron vertical-center">
<h2>Edit Menu Option <%= link_to "Delete", restaurant_category_path(@restaurant, @category),class: "btn btn-default", method: :delete%></h2>
<%=render 'form'%>
</div>
